*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html {
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 100%;
}

body {
  font-family: 'Open Sans'; /* sets our font to the "Open Sans" typeface */
  color: white;             /* sets the text color to white */
  min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */
  margin: 0px;

}

.chat-rooms {
	position: absolute;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, .75);
	width: 200px;
	height: 100%;
	padding-left: 20px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: white;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: dimgray;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: dimgray;
}

.messages {
	padding-left: 20px;
	font-size: 18px;
}

.rooms-list {
	padding-top: 10px;
}

.rooms-list a:hover{
	color:red;
	text-decoration: none;
}

.room-names {
	color: white;
}

.modal-content {
	width: 500px;
	text-align: center;
	border-radius: 0;
	padding: 20px;
}

.modal-input {
	padding-bottom: 1rem;
	margin: 0 auto;
}

.modal-input input {
	width: 75%;
}

.modal-title h2 {
	color: dimgray; 
}

.left {
	width:100%;
	display: block;
}
.right {
	padding-left:200px;
	width:100%;
	display: inline-block;
}

.messages h1 {
	color: dimgrey;
}

.odd {
	padding: 15px;
	color: dimgray;
	background-color: lightgrey;
}

.even {
	padding: 15px;
	color: dimgray;
	background-color: white;
}

.message-info {
	font-size: 1rem;
	letter-spacing: .05em;
	font-weight: 600;
}

.message-content {
	font-size: 1rem;
}

.message-timestamp {
	font-size: 14px;
	color:lightslategrey;
}

.chat-room {
	font-weight:400;
}
